:root {
    --main-color: #3498db; /* Ana mavi renk */
    --main-color-light: #85c1e9; /* Açık mavi */
    --accent-color: #f39c12; /* Turuncu */
    --accent-color-light: #f1c40f; /* Açık turuncu */
    --background-gradient: linear-gradient(to bottom right, #2980b9, #6dd5ed);
    --button-hover-color: rgba(255, 255, 255, 0.3);
}

body {
    font-family: "Edu AU VIC WA NT Hand", sans-serif;
    background-image: var(--background-gradient);
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #2c3e50; /* Koyu metin rengi */
    text-align: center;
    padding: 0 2rem;
}

header {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.main-title {
    font-size: 2.5rem;
    margin: 0;
    font-weight: bold;
}

.gorev-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 1.5rem; /* Görevler alanı ile bu alan arasındaki boşluğu artırdık */
}

.form-item {
    padding: 0.8rem;
    font-size: 1.2rem;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    margin-right: 0.5rem;
    width: 80%;
    outline: none;
    transition: border 0.3s;
}

.form-item:focus {
    border-color: var(--accent-color);
}

.btn-gorev-ekle {
    color: white;
    background-color: var(--main-color);
    border: none;
    cursor: pointer;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-gorev-ekle:hover {
    background-color: var(--accent-color);
    transform: scale(1.05);
}

.gorev-container {
    width: 100%;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}

.gorev-listesi, .tamamlanan-gorev-listesi {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.gorev-btn {
    background-color: var(--accent-color);
    outline: none;
    border: none;
    font-size: 1rem;
    padding: 0.5rem 1rem; /* Yeterli iç boşluk */
    margin-left: 0.5rem;
    border-radius: 5px;
    cursor: pointer; /* İkon üzerine gelindiğinde tıklanabilir olduğunu gösterir */
    transition: background-color 0.3s;
    flex: 0 0 auto; /* Butonların genişliğini ayarlamak için */
}

.gorev-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
    font-size: 1.2rem;
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out, background-color 0.3s ease;
    cursor: pointer; /* Tüm alanın tıklanabilir olduğunu gösterir */
}

/* Buton üzerine gelindiğinde buton rengi değişimi */
.gorev-btn:hover {
    background-color: var(--accent-color-light);
}



.gorev-tamamlandi {
    text-decoration: line-through;
    opacity: 0.6;
    background-color: rgba(76, 175, 80, 0.3); /* Tamamlanmış görevler için yeşil arka plan */
}

.tamamlanan-gorev-listesi {
    background-color: rgba(76, 175, 80, 0.1); /* Açık yeşil arka plan */
    border-radius: 10px;
    padding: 1rem;
}

@media (max-width: 600px) {
    .gorev-form {
        flex-direction: column;
    }

    .form-item, .btn-gorev-ekle {
        width: calc(100% - 1rem); 
        margin: 0.5rem auto; 
    }
}
